{{ define "main" }}
    <section class="hero is-fullheight is-bold">
        <div class="hero-body">
            <div class="has-text-centered container">
                
                {{ with .Params.Image }}
                
                
                <div class="is-horizontal-center is-flex">
                    <figure class="image is-128x128">
                        <a href="/">
                            {{ partial "images/image" (dict
                            "Page" $.Page
                            "src" ($.Page.Resources.GetMatch .src)
                            "alt" .alt
                            "ratio" "1/1"
                            "class" "is-rounded"
                            "holder" "LQIP"
                            ) }}
                            
                            <div class="is-rounded rounded-image-has-inner-shadow"></div>
                        </a>
                    </figure>
                </div>
                {{ end }}
                <h1 class="title is-size-1 is-size-2-mobile has-text-black is-family-secondary is-spaced">
                    <a href="/" class="has-text-black">{{ .Title }}</a>
                </h1>

                <div class="content">{{ .Content }}</div>
                {{/*  <pre>{{ jsonify (dict "indent" " ") .Page }}</pre>  */}}
            </div>
        </div>
    </section>
{{ end }}
