{{ define "main" }}
<div class="container">
<section class="section">
  <div class="columns">
    <div class="column is-two-thirds is-align-self-flex-start">
      <div class="article-list">
        <h2 class="title is-h2 is-uppercase">{{ .Params.name }}'s Articles</h2>
        {{ range ( .Paginate .Data.Pages ).Pages }}
        {{ .Scratch.Set "source" "author" }}
        {{ partial "article_card" . }}
        {{ end }}

        </div>

      </div>
      <div class="column is-align-self-flex-start">
        {{ partial "author" . }}
        
        

        {{ partial "pagination_links" . }}
      </div>
    </div>
  </section>
</div>



{{ end }}
