{{ define "main" }}
<div class="container">
  {{ with .Content }}
  <div class="content">
    {{.}}
  </div>
  {{ end }}

  <div class="posts-list">
  {{ $pagnum := .Paginator.PageNumber}}
  {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}

  {{ if eq $.Paginator.PageNumber 1 }}
    {{ range $index, $element := first 1 $pag.Pages }}
      {{ partial "article_highlight" . }}
    {{ end }}
  {{ end }}


    <section class="section">
      <div class="article-list">
        {{ range $index, $element := $pag.Pages }}
          {{ if or (gt $index 0) (ne $.Paginator.PageNumber 1)  }}
          {{ .Scratch.Set "source" "home" }}
          {{ partial "article_card" . }}
          {{ end }}
        {{ end }}
      </div>
      
      
      {{partial "pagination_links" .}}
    </section>
  </div>



</div>
{{ end }}
