{{ define "main" }}
<div class="container">
  {{ with .Content }}
  <div class="content">
    {{.}}
  </div>
  {{ end }}

  <div class="posts-list">
    {{ $pagnum := .Paginator.PageNumber}}
    
    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $index, $element := $pag.Pages }}
    {{ if and (eq $index 0) (eq $.Paginator.PageNumber 1) }}
    <section class="section featured-post">
      <a href="{{ .RelPermalink }}">
        <div class="card is-shadowless">
          <h2 class="title is-size-3 is-size-5-mobile padded-multiline"><span>{{ .LinkTitle }}</span></h2>
          <div class="card-image">
            <figure class="image is-2by1 is-relative">
              <a href="{{ .RelPermalink }}">
                <img 
                  src='{{ default "/images/ph.png" .Params.image.src }}'
                  class='lazyload blur-up'
                  {{ with .Params.image }}alt='Image by {{ .author }} on {{ .source }}'{{end}}
                  >
                  {{/*  alt='{{ with .Page.Params.image.author }}Image by {{ .Page.Params.image.author}} on {{ .Page.Params.image.source}}{{ end }}'   */}}
              </a>
              <span class="tag is-white is-ontop-right">{{ printf "%d mins read" .ReadingTime }}</span>
            </figure>
          </div>
          {{/*  {{ with .Page.Params.Summary }}  */}}
          <div class="card-content">
            <div class="content">
              <a href="{{ .RelPermalink }}" class="has-text-black">
                {{ .Params.Summary }}
              </a>
            </div>
            {{ if .Params.tags }}
            <div class="tags">
              {{ range .Params.tags }}
              <span class="tag">#{{ . }}</span>
              {{ end }}
            </div>
            {{ end }}

          </div>
          {{/*  {{ end }}  */}}
        </div>
      </a>
    </section>
    {{ end }}
    


      {{/*  {{  ial "post_preview" . }}  */}}
      <h2>{{ $index }}--<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
    {{ end }}
  </div>

  {{/*  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}  */}}

  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; newer posts </a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">older posts &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
{{ end }}
