{{ define "main" }}

{{ $data := .Data }}
<div class="container">
  <section class="section">
    {{ partial "breadcrumbs" . }}
    <h2 class="is-family-secondary pb-5">
      <span class="title is-2 is-size-3-mobile">{{ strings.Title .Title }} Articles</span>
    </h2>

    {{ with .Content }}
    <div class="content">
      {{ . }}
    </div>
    {{ end }}

    {{/*  include posts assigned to this section  */}}
        {{ partial "posts_list" (dict
        "Page" .Page
        "PaginateObj" .Paginator
        ) }}

  </section>
</div>
{{ end }}
