{{ define "main" }}

<span class="is-block has-text-centered is-hidden-desktop">
  <span class="icon">
    <i class="fas fa-infinity"></i>
    {{/* <i class="fas fa-paper-plane"></i> */}}
    {{/* <i class="fas fa-leaf"></i> */}}
    {{/* <i class="fas fa-grip-lines"></i> */}}
    {{/* <i class="fas fa-mug-hot"></i> */}}
  </span>
</span>

<div class="container">
  <section class="section ml-5 mr-5" id="main_article">
    {{ partial "breadcrumbs" . }}
    <article class="pb-4">
      <h1 class="title is-2 is-family-secondary" id="article_heading">{{ .Title }}</h1>
      <h2 class="subtitle is-6 is-uppercase">{{ .Params.Subtitle }}</h2>
      <span class="is-size-7 has-text-black">{{ printf "%d mins read" .ReadingTime }}</span>

      {{ partial "sharing_icons.html" . }}
      {{ partial "figure.html" .Params.Image }}

      <div class="content is-double-spaced is-size-5 is-family-secondary pb-6">
        {{ .Content }}
      </div>
    </article>

    {{ partial "tags" . }}


    {{ partial "author_bio" . }}
  </section>
</div>

<!-- TODO: confirm related is working. Related articles == {{ .Site.RegularPages.Related . | len}} -->
{{ partial "related_articles" . }}
{{ end }}