{{/* USAGE

  {{ partial "images/figure" (dict "Page" . "src" "some_image.jpg")}}

*/}}

{{/* Map the standard figure shortcode parameters */}}
{{- $figureClass := default nil .class -}}
{{- $figureLink := default nil .link -}}
{{- $figureTarget := default nil .target -}}
{{- $figureRel := default nil .rel -}}
{{- $figureTitle := default nil .title -}}
{{- $figureCaption := default nil .caption -}}
{{- $figureAttr := default nil .attr -}}
{{- $figureAttrLink := default nil .attrlink -}}

{{/*  Build figure  */}}
<figure{{ with $figureClass }} class="{{ . }}" {{ end }}>
  {{- if $figureLink -}}
  <a href='{{ $figureLink }}' {{ with $figureTarget }}
    target='{{ . }}' {{ end }}{{ with $figureRel }}
    rel="{{ . }}" {{ end }}>
  {{- end -}}

    {{/* include the responsive image partial */}}
    {{ partial "images/image" . }}

  {{- if $figureLink }}
  </a>{{ end -}}

  {{- if or (or ($figureTitle) ($figureCaption)) ($figureAttr) -}}
  <figcaption class="is-size-7 is-block">
    {{ with ($figureTitle) -}}
    <h4>{{ . }}</h4>
    {{- end -}}
    {{- if or ($figureCaption) ($figureAttr) -}}<p>
      {{- $figureCaption | markdownify | plainify -}}&nbsp;
      {{- with $figureAttrLink }}<a href="{{ . }}" target="_blank">{{- end -}}
        {{- $figureAttr | markdownify | plainify -}}
        {{- if $figureAttrLink }}</a>{{ end }}</p>
    {{- end }}
  </figcaption>
  {{- end }}
  </figure>

