<div class="card is-shadowless">
    <div class="columns is-gapless">
        <div class="column">
          <a href="{{ .Page.RelPermalink }}">
            <div class="card-image">
                {{ partial "images/image" (dict
                  "Page" .Page
                  "src" (.Page.Resources.GetMatch .Page.Params.Image.src)
                  "alt" .Page.Params.Image.alt
                  "readingTime" .Page.ReadingTime
                  "ratio" "1/1"
                ) }}
            </div>
          </a>
        </div>
        <div class="column is-two-thirds">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <h2 class="title is-4"><a href="{{ .Page.RelPermalink }}" class="has-text-black">{{ .Page.LinkTitle }}</a></h2>
                    </div>
                </div>

                <div class="content">
                    <a href="{{ .Page.RelPermalink }}" class="has-text-black">
                        {{ .Page.Params.Summary }}
                    </a>&nbsp;<a href="{{ .Page.RelPermalink }}" class="is-link">read more&hellip;</a>
                    {{ partial "tags" .Page }}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
