<div class="featured-post">
    <a href="{{ .Page.RelPermalink }}">
        <div class="card is-shadowless">
            <h2 class="title is-size-3 is-size-5-mobile padded-multiline"><span>{{ .Page.LinkTitle }}</span></h2>
            <div class="card-image image">
              {{ partial "images/image" (dict
                "Page" .Page
                "src" (.Page.Resources.GetMatch .Page.Params.Image.src)
                "alt" .Page.Params.Image.alt
                "readingTime" .Page.ReadingTime
              ) }}
            </div>
            {{/* {{ with .Page.Params.Summary }} */}}
            <div class="card-content">
                <div class="content mb-3">
                    <a href="{{ .Page.RelPermalink }}" class="has-text-black">
                        {{ .Page.Params.Summary }}
                    </a>&nbsp;<a href="{{ .Page.RelPermalink }}" class="is-link">read more&hellip;</a>
                </div>
                {{ partial "tags" .Page }}
            </div>
        </div>
    </a>
</div>
<hr>
