<div class='{{ with .SourceKind }}{{ if eq . "taxonomy" }}media{{end}}{{end}}'>
    <figure class='is-align-self-flex-start mb-3{{ with .SourceKind }}{{ if eq . "taxonomy" }} media-left{{end}}{{end}}'>
        <p class="image is-64x64">
            <img src="{{ .Page.Params.image }}" alt="{{ .Page.Params.name }}" class="is-rounded">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <h3 class="title is-5 mb-0">{{ .Page.Params.fullname }}</h3>
            <h4><small class="is-size-7">{{ .Page.Params.position }}</small></h4>
            {{ .Page.Content }}
            {{ with .SourceKind }}
            {{ if eq . "taxonomy" }}
            <a href="{{ $.Page.Permalink }}" class="button">Read {{ $.Page.Params.name }}'s articles</a>
            {{ end }}
            {{ end }}
        </div>
        <nav class="level is-mobile">
            <div class="level-left">

                {{ with .Page.Params.Social.linkedin }}
                <span class="icon">
                    <a href="https://www.linkedin.com/in/{{.}}">
                        <i class="fa-brands fa-linkedin has-text-black"></i>
                    </a>
                </span>
                {{end}}
                {{ with .Page.Params.Social.twitter }}
                <span class="icon">
                    <a href="https://twitter.com/{{.}}">
                        <i class="fa-brands fa-x-twitter has-text-black"></i>
                    </a>
                </span>
                {{ end }}
            </div>
        </nav>
    </div>
</div>
