
<nav class="breadcrumb is-size-7" aria-label="breadcrumbs">
    <ul>
        {{/*  Get the home page  */}}
        {{- range .Ancestors.Reverse |first 1 }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{- end }}

        {{/*  on a term page get taxonomy list page  */}}
        {{ if eq .Kind "term" }}
        {{ $term := $.Site.GetPage (printf "/%s/" .Type ) }}
        {{ with $term }}<li><a href="{{ .RelPermalink }}">{{ strings.Title .Title }}</a></li>{{ end }}
        {{ end }}

        {{/*  If a category exists include */}}
        {{ with .GetTerms "categories" }}
        {{ range . | first 1 }}
        <li><a href="{{ .RelPermalink }}">{{ strings.Title .Title }}</a></li>
        {{ end }}
        {{ end }}

        {{/*  Link the existing page as active  */}}
        <li class="is-active"><a href="{{ .RelPermalink }}" aria-current="page">{{ .Title }}</a></li>
    </ul>
</nav>
