<!-- Header section -->
<section class="section">
    <div class="container has-text-centered">
      <h2 class="subtitle is-size-4 is-size-6-mobile is-spaced is-uppercase">{{ default "set subtitle param to display here" .Site.Params.subtitle }}</h2>
      <h1 class="title is-size-1 is-size-2-mobile has-text-black is-family-secondary"><a href="/" class="has-text-black">{{ .Site.Title }}</a></h1>
    </div>
</section>
{{ partial "menu.html" (dict "menuID" "main" "page" . "social" .Site.Params.author.social) }}
