

{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  {{- $social := .social }}
  {{- $BaseURL := .BaseURL }}


{{- with index site.Menus $menuID }}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger is-fixed-top" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">

        {{/*  walk the menu here  */}}
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}

        <div class="navbar-item sharing-utility">
        {{ partial "social_icon_links" (dict "social" $social "Page" $page "BaseURL" $BaseURL) }}
        </div>
      </div>
      <div class="navbar-end"></div>
    </div>
  </nav>
    {{/*  <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>  */}}

{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := (dict "href" .URL "class" "navbar-item") }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "navbar-item is-active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "navbar-item ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}

    {{/*  <li>  */}}
      {{/*  <a class="navbar-item{% if page.url == item.link %} is-active{% endif %}" 
          href="{{ item.link }}">
          {{ item.name }}
        </a>  */}}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{/*  {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>  */}}
  {{- end }}
{{- end }}
