{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination" role="navigation" aria-label="pagination">
    {{ if .Paginator.HasPrev }}
    <a class="pagination-previous" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; newer posts </a>
    {{ else }}
    <a class="pagination-previous is-disabled">&larr; newer posts </a>
    {{ end }}
    {{ if .Paginator.HasNext }}
    <a class="pagination-next" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">older posts &rarr;</a>
    {{ else }}
    <a class="pagination-next is-disabled">older posts &rarr;</a>
    {{ end }}
</nav>
{{ end }}
