{{ $paginateObj := .PaginateObj }}
<div class="posts-list">

  {{ if $paginateObj.Pages }}
  {{ if and (eq $paginateObj.PageNumber 1) (eq .Page.Kind "home") }}
  {{ $highlight := (index $paginateObj.Pages 0) }}
  {{ partial "article_highlight" (dict
    "Page" $highlight.Page
    "SourceType" $highlight.Page.Type
    "IsPage" .Page.IsPage
  ) }}
  {{ end }}
  {{ end }}

  {{/* cycle through paginated articles */}}
  <div class="article-list">
    {{ range $index, $element := $paginateObj.Pages }}
    {{ if or (gt $index 0) (ne $paginateObj.PageNumber 1) (ne $.Page.Kind "home") }}
    {{ partial "article_card" (dict "Page" .Page "SourceType" .Page.Type ) }}
    {{ end }}
    {{ end }}
  </div>

  {{/* Include the pagination links */}}
  {{ partial "pagination_links" .Page }}

</div>
